.header-img {
  width: 100%;
  height: 250px;
}

.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1c261f;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.header-title {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4ed0f;
  font-size: 70px;
  margin-bottom: 10px;
}

body {
  background-color: #282c34;
  color: white;
}

.random-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 173px;
}

input {
  border: none;
  outline: none;
  height: 46px;
  width: 400px;
  border-radius: 10px;
  background-color: #eff0f3;
  color: #282c34;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-search {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: rgb(14, 7, 7);
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.btn {
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #c4ed0f;
  background-color: #282c34;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.footer {
  display: flex;
  margin: 60px 300px;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
